.contenAbout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:"nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
.imgfondo{
    overflow: hidden;
}
main{
    grid-area: main;
    color: #fff;
    .container_main{
        display: grid;
        grid-template-rows: repeat(3,auto); 
        grid-template-columns: auto;
        position: relative;   
    }
    .fondoA1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgb(41, 41, 41);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 60%);
    }
    .caja1{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        .texto1{
            position: relative;
            top: 50px;
            > h2{
                min-width: 300px;
                max-width: 400px;
                font-size: 30px;
                padding: 20px;
            }
            > p{
                min-width: 300px;
                max-width: 400px; 
                padding: 20px; 
                font-size: 20px;
            }
            .btnA{
                position: relative;
                padding: 5px;
                margin: 30px 0px; 
                background-color: transparent;
                color: aliceblue;
                border-color: aliceblue;
                left: 60%;
            }
        }
    }
}
.imgC{
    position: relative;
    z-index: 1 ;
    width: 400px;
    min-height: 460px;
    top: 20px;
    .imgC1{
        position: absolute;
        top: 50px;
        right: 0px;
        height: 350px;
        width: 300px;
        z-index: 3;
    }
    .imgC11{
        height: 300px;
        width: 250px;
        position: absolute;
        background-color: transparent;
        border: #fff solid 13px;
        bottom: 10px;
        left: 50px;
        z-index: 2;
    }
    .imgC111{
        height: 250px;
        width: 150px;
        position: absolute;
        background-image: repeating-linear-gradient(45deg,
            #fff 0,
            #fff 5px,
            transparent 5px,
            transparent 10px,
            rgb(248, 248, 248) 5px);
        top: 90px;
        left:0px;
        z-index: 1;
    }
    .imgC1111{
        height: 200px;
        width: 200px;
        position: absolute;
        background-color: #d3d600;
        top: 0px;
        left: 20px;
    }
}
@media(max-width:410px){
    .imgC{
        width: 320px;
        min-height: 400px;
        top: 20px;
        .imgC1{
            top: 50px;
            right: 0px;
            height: 280px;
            width: 230px;
            z-index: 3;
        }
        .imgC11{
            height: 230px;
            width: 180px;
            position: absolute;
            background-color: transparent;
            border: #fff solid 13px;
            bottom: 20px;
            left: 50px;
            z-index: 2;
        }
        .imgC111{
            height: 180px;
            width: 130px;
            position: absolute;
            background-image: repeating-linear-gradient(45deg,
                #fff 0,
                #fff 5px,
                transparent 5px,
                transparent 10px,
                rgb(248, 248, 248) 5px);
            top: 90px;
            left:0px;
            z-index: 1;
        }
        .imgC1111{
            height: 180px;
            width: 180px;
            position: absolute;
            background-color: #d3d600;
            top: 30px;
            left: 20px;
        }
    }
}
.caja2{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    .texto2{
        display: flex;
        flex-direction: column;
        align-items: center;
        > p{
            min-width: 250px;
            max-width: 500px; 
            padding: 0px 20px 20px 20px; 
            font-size: 15px;
            text-align: center;
        }
        > h3{
            min-width: 300px;
            max-width: 500px;
            font-size: 30px;
            padding: 20px;
            margin-top: 50px;
        }
        .imgC2b{
            position: relative;
            display: flex;
            justify-content: center;
            width: 400px;
            min-height: 500px;
            .imgC2{
                position: absolute;
                top: 50px;
                height: 330px;
                width: 300px;
                z-index: 5;
            }
            .imgC22{
                height: 300px;
                width: 200px;
                position: absolute;
                background-color: yellow;
                top: 120px;
                left: 10px;
                z-index: 0;
            }
            .imgC222{
                height: 100px;
                width: 200px;
                position: absolute;
                background-image: repeating-linear-gradient(45deg,
                    yellow 0,
                    yellow 5px,
                    transparent 5px,
                    transparent 10px,
                    rgb(248, 248, 248) 5px);
                top: 20px;
                right:20px;
            }
            @media(max-width:405px){
                .imgC2{
                    top: 50px;
                    height: 260px;
                    width: 260px;
                }
                .imgC22{
                    height: 200px;
                    width: 120px;
                    position: absolute;
                    background-color: yellow;
                    top: 130px;
                    left: 50px;
                    z-index: 0;
                }
                .imgC222{
                    height: 100px;
                    width: 200px;
                    position: absolute;
                    background-image: repeating-linear-gradient(45deg,
                        yellow 0,
                        yellow 5px,
                        transparent 5px,
                        transparent 10px,
                        rgb(248, 248, 248) 5px);
                    top: 30px;
                    right:50px;
                }
            }    
        }
    }
    .texto2b{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        > h3{
            min-width: 300px;
            max-width: 400px;
            font-size: 30px;
            padding: 15px;
            margin-top: 0px;
        }
        @media(max-width:1051px){
            > h3{
                order: 2;
            } 
            > p{
                order: 1;
            } 
        }
        .imgCc{
            position: relative;
            z-index: 1 ;
            width: 400px;
            min-height: 400px;
            top: 20px;
            .imgC2c{
                position: absolute;
                top: 60px;
                left: 30px;
                height: 280px;
                width: 300px;
                z-index: 5;
            }
            .imgC22c{
                height: 280px;
                width: 200px;
                position: absolute;
                background-color: yellow;
                top: 0px;
                left: 0px;
                z-index: 0;
            }
            .imgC222c{
                height: 150px;
                width: 200px;
                position: absolute;
                background-color: transparent;
                border: #fff solid 10px;
                top: 220px;
                right: 10px;
                z-index: 2;
            }
            @media(max-width:405px){
                .imgC2b{    
                    width: 400px;
                    min-height: 400px;
                }
                .imgCc{
                    width: 350px;
                    min-height: 400px;
                    top: 20px;
                }
                .imgC2c{
                    top: 60px;
                    left: 55px;
                    height: 240px;
                    width: 260px;
                }
                .imgC22c{
                    height: 240px;
                    width: 180px;
                    top: 0px;
                    left: 30px;
                }
                .imgC222c{
                    height: 150px;
                    width: 200px;
                    top: 190px;
                    right: 40px;        
                }
            }
        }
    }    
}
.fondoA2{
    grid-column: 1/2;
    grid-row: 3/4;;
    background-color: rgb(41, 41, 41);
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
}
.caja3{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    gap: 50PX;
    flex-wrap: wrap;   
    .texto3{
        position: relative;
        text-align: center;
        top: 100px;
        height: 240px;
        > h3{
            min-width: 300px;
            max-width: 500px;
            font-size: 30px;
            padding: 20px;
        }
        > p{
            min-width: 300px;
            max-width: 500px; 
            padding: 20px; 
            font-size: 15px;
            text-align: center;
        }
    } 
    .imgC3{
        top: 70px;
        left: 50px;
        height: 300px;
        width: 300px;
        position: absolute;
    }
    .imgC333{
        height: 290px;
        width: 290px;
        position: absolute;
        background-color: transparent;
        border: yellow solid 10px;
        top: 20px;
        left: 0px;
    }
    @media(max-width:405px){
        .imgC3{
            top: 50px;
            left: 50px;
            height: 230px;
            width: 230px;
        }
        .imgC333{
            height: 210px;
            width: 210px;
            position: absolute;
            background-color: transparent;
            border: yellow solid 10px;
            top: 20px;
            left: 20px;
        }
        .texto3{
            height: 300px;
            margin-top: 20px;
        }
    }
}
